.container {
  padding-top: 30px;
  width: 400px;
  margin: auto;
}

.wrapper {
  display: flex;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.search-result {
  margin-top: 30px;
}

.item {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #acfacd;
  display: flex;
  justify-content: space-between;
}

.item-id {
  color: red;
  margin-right: 20px;
}

.item-name {
  color: blue;
}

.item-price {
  margin-left: auto;
}